<div class="container">
        <div class='header-container'>
                <div class="header">
                        Reach Out!
                </div>
                <div class='sub-header'>
                        Lets talk projects and opportunities
                </div>
        </div>
        <div class="form-container">
                
        </div>

        <div class='footer-container'>
                <div class="exit-button" (click)='this.getSelectedChange.emit(false)'>exit</div>
        </div>
</div>
<!--
Top:
-Header
-Sub-header
Middle:
-Form:
        -Name
        -Subject
        -Body
        -Send button
Footer: 
-Other Info:
        -Instagram
        -LinkedIN
        -Twitter
        -Facebook
        -Gmail
-Exit button
-->
