<div class="container">
        <div class='header-container'>
                <div class="header">
                        Reach Out!
                </div>
                <div class='sub-header'>
                        Lets talk projects and opportunities
                </div>
        </div>
        <div class="form-container">
                        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/devinleamy@gmail.com" method="post">
                                <fieldset id="fs-frm-inputs">
                                        <label for="full-name">Full Name</label>
                                        <input type="text" name="name" id="full-name" placeholder="Name" required="">
                                        <label for="email-address">Email Address</label>
                                        <input type="email" name="_replyto" id="email-address" placeholder="Email" required="">
                                        <label for="message">Message</label>
                                        <textarea rows="5" name="message" id="message" placeholder="Message" required=""></textarea>
                                        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                                </fieldset>
                                <input type="submit" value="Submit">
                        </form>
                <!-- <div class='name-input' contenteditable="true" #name>name</div>
                <div class='email' contenteditable="true" #email>email</div>
                <div class='email-body' contenteditable="true" #body>body</div>
                <div class='submit-button' (click)='sendEmail()'>submit</div> -->
        </div>

        <div class='footer-container'>
                <div class="exit-button" (click)='this.getSelectedChange.emit(false)'>exit</div>
        </div>
        <!-- <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/devinleamy@gmail.com" method="post">
                <fieldset id="fs-frm-inputs">
                        <label for="full-name">Full Name</label>
                        <input type="text" name="name" id="full-name" placeholder="Name" required="">
                        <label for="email-address">Email Address</label>
                        <input type="email" name="_replyto" id="email-address" placeholder="Email" required="">
                        <label for="message">Message</label>
                        <textarea rows="5" name="message" id="message" placeholder="Message" required=""></textarea>
                        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                </fieldset>
                <input type="submit" value="Submit">
        </form> -->
</div>
<!--
Top:
-Header
-Sub-header
Middle:
-Form:
        -Name
        -Subject
        -Body
        -Send button
Footer: 
-Other Info:
        -Instagram
        -LinkedIN
        -Twitter
        -Facebook
        -Gmail
-Exit button
-->
