<div class="container">
        <div class="logo-container">
                <div class="logo">
                        <\>
                </div>
        </div>
        <div class="flex-expand"></div>
        <div class="projects-link">
                <div class="projects-link-text">
                        Projects
                </div>
        </div>
        <div class="github-link">
                <div class="github-link-text">
                        Github
                </div>
        </div>
        <div class="resumer-link">
                <div class="resumer-link-text">
                        Resumer
                </div>
        </div>
</div>
