.container {
        background-color: rgb(224, 222, 222);
        height: 80px;
        display: flex;
}

.logo-container {
        margin-left: 10px;
        height: 80px;
}

.logo {
        margin-top: 10px;
        font-size: 60px;
        line-height: 60px;
        /* height: 90px; */
        /* width: 90px; */
        font-weight: bolder;
        font-family: "Lucida Console", Courier;
        /* background-image: url("../../../assets/Logo_2.png");
        background-repeat: no-repeat;
        background-size: cover; */
}

.projects-link {
        width: 100px;
        height: 80px;
        background-color: blue;
}

.projects-link-text {
        width: 100%;
        line-height: 80px;
        height: 80px;
        margin: auto;
        font-size: 25px;
}

.github-link {
        width: 100px;
        height: 80px;
        background-color: green; 
}

.github-link-text {
        width: 100%;
        line-height: 80px;
        height: 80px;
        margin: auto;
        font-size: 25px;
}

.resumer-link {
        width: 100px;
        height: 80px;
        background-color: red; 
}

.resumer-link-text {
        width: 100%;
        line-height: 80px;
        height: 80px;
        margin: auto;
        font-size: 25px;
}





.flex-expand {
        flex: 1 1 auto; 
}
