<div class="container">
        <div class='sub-container'>
                <div class="header-container">
                        <div class='header no-select'>
                                My Two Cents
                        </div>
                </div>
                <div class="info-container">
                        <div class='me-container'>
                                <div class='me-header'>
                                       I'm Devin Leamy a <b>friend</b>
                                </div>
                                <div class='me-school-container'>
                                        <div class='me-school-icon'></div>
                                        <div class="me-school-text-container">
                                                <div class="me-school-text">
                                                        University of Waterloo Computer Science - Class of 2025
                                                </div>
                                        </div>
                                </div>
                                <div class="me-traits-container">
                                        <div class="trait-container">
                                                <div class='trait-text-container'>
                                                        <div class="trait-text">
                                                                Goal Driven
                                                        </div>
                                                </div>
                                                <div class="trait-icon goal-driven-image"></div>
                                        </div>
                                        <div class="trait-container">
                                                <div class='trait-text-container'>
                                                        <div class="trait-text">
                                                                Personable
                                                        </div>
                                                </div>
                                                <div class="trait-icon personable-image"></div>
                                        </div>
                                        <div class="trait-container">
                                                <div class='trait-text-container'>
                                                        <div class="trait-text">
                                                                Conscientious
                                                        </div>
                                                </div>
                                                <div class="trait-icon conscientious-image"></div>
                                        </div>
                                        <!-- <div class="interest">
                                                Hiking
                                        </div> -->
                                </div>
                        </div>
                </div>
        </div>
</div>

<!--
What I want to include:
        -Github Link ["https://github/com/DevinLeamy"]
        -Resume Link ["src/assets/other/Rusume.pdf"]
        -Personality Traits ["Personable", "Driven", "Visionary"]
        -School ["University Of Waterloo", "Computer Science"]
        -Interests ["Chess", "AI and Machine Learning", "Tech", "Algorithmic Problems", "Software Engineering"]
        -Pursuits ["2021 [September-January] CO-OP Position", "Tech Industry Connections", "Success"]
        #-Goals [""]
-->
<!-- 
Break down:
        -Top (Who I am) ["Personality Traits", "School", "Interests"]
        -Middle (What I do) ["Pursuits", "Hobbies"]
        -Bottom: ["Github Link", "Resume Link"]
 -->

<div class="side-button-container left">
        <app-arrow-button (click)="this.pageService.leftButtonClicked()" [routerLink]="'/splash'">
                <
        </app-arrow-button>
</div>
