<div class="container">
        <div class='sub-container'>
                <div class="header-container">
                        <div class='header no-select'>
                                My Two Cents
                        </div>
                </div>
        </div>
</div>

<!--
What I want to include:
        -Github Link ["https://github/com/DevinLeamy"]
        -Resume Link ["src/assets/other/Rusume.pdf"]
        -Personality Traits ["Personable", "Driven", "Visionary"]
        -School ["University Of Waterloo", "Computer Science"]
        -Interests ["Chess", "AI and Machine Learning", "Tech", "Algorithmic Problems", "Software Engineering"]
        -Pursuits ["2021 [September-January] CO-OP Positions", "Tech Industry Connections", "Success"]
        #-Goals [""]
-->
<!-- 
Break down:
        -Top ["Personality Traits", "School"]
        -Middle ["Interests", "Pursuits"]
        -Bottom: ["Github Link", "Resume Link"]
 -->

<div class="side-button-container left">
        <app-arrow-button (click)="this.pageService.leftButtonClicked()" [routerLink]="'/splash'">
                <
        </app-arrow-button>
</div>
