<div class="container" [@aboutMePageAnimation]='true'>
        <div class='sub-container'>
                <div class="header-container">
                        <div class='header no-select'>
                                My Two Cents
                        </div>
                </div>
                <div class="info-container">
                        <div class='top-container left-container'>
                                <div class='school-container'>
                                        <div class='school-icon'></div>
                                        <div class="school-text-container">
                                                <div class="school-text">
                                                        University of Waterloo Computer Science - Class of 2025
                                                </div>
                                        </div>
                                </div>
                                <div class="traits-container">
                                        <div class="trait-container transform-border">
                                                <div class='trait-text-container'>
                                                        <div class="trait-text">
                                                                Goal Driven
                                                        </div>
                                                </div>
                                                <div class="trait-icon goal-driven-image transform-width transform-height"></div>
                                        </div>
                                        <div class="trait-container transform-border">
                                                <div class='trait-text-container'>
                                                        <div class="trait-text">
                                                                Personable
                                                        </div>
                                                </div>
                                                <div class="trait-icon personable-image transform-width transform-height"></div>
                                        </div>
                                        <div class="trait-container transform-border">
                                                <div class='trait-text-container'>
                                                        <div class="trait-text">
                                                                Conscientious
                                                        </div>
                                                </div>
                                                <div class="trait-icon conscientious-image transform-width transform-height"></div>
                                        </div>
                                </div>
                        </div>
                        <div class='top-container right-container'>
                                <a class="link github-image transform-opacity" href='https://github.com/DevinLeamy'>
                                        <div class='link-subcontainer'>
                                                <div class='link-text transform-color'>
                                                        GITHUB
                                                </div>
                                        </div>
                                        
                                </a>
                                <a class="link resume-image transform-opacity" href='assets/other/Resume.pdf'>
                                        <div class='link-subcontainer'>
                                                <div class='link-text transform-color'>
                                                        RESUME
                                                </div>
                        
                                        </div>
                                </a>
                        </div>
                </div>
                <div class='info-container bottom-container'>
                        <div class='middle-container'>
                                <div class='middle-top-container'>
                                        <div class='date-info'>
                                                <div class='middle-top-header'>
                                                        My Life
                                                </div>
                                        </div>
                                        
                                </div>
                                <div class='middle-bottom-container'>
                                        <div class='interest-container programming-image transform-border'>
                                                <div class='interest-header'>
                                                        Goal
                                                </div>
                                                <div class='interest-body'>
                                                        I am going to build a software company from the ground up.
                                                </div>
                                        </div>
                                        <div class='interest-container programming-image transform-border'>
                                                <div class='interest-header'>
                                                        Pursuit
                                                </div>
                                                <div class='interest-body'>
                                                        I am on the hunt for an innovative service or good I can make and sell online.
                                                </div>
                                        </div>
                                        <div class='interest-container programming-image transform-border'>
                                                <div class='interest-header'>
                                                        School
                                                </div>
                                                <div class='interest-body'>
                                                        I am preparing for and, looking forward to, my up-and-coming terms at the University of Waterloo.
                                                </div>
                                        </div>
                                        <div class='interest-container programming-image transform-border'>
                                                <div class='interest-header'>
                                                        Right Now
                                                </div>
                                                <div class='interest-body'>
                                                        I am working on the front-end of THIS website, my portfolio website.
                                                </div>
                                        </div>
                                </div>
                                
                        </div>
                </div>
        </div>
</div>

<!--
What I want to include:
        -Github Link ["https://github/com/DevinLeamy"]
        -Resume Link ["src/assets/other/Rusume.pdf"]
        -Personality Traits ["Personable", "Driven", "Visionary"]
        -School ["University Of Waterloo", "Computer Science"]
        -Interests ["Chess", "AI and Machine Learning", "Tech", "Algorithmic Problems", "Software Engineering"]
        -Pursuits ["2021 [September-January] CO-OP Position", "Tech Industry Connections", "Success"]
        #-Goals [""]
-->
<!-- 
Break down:
        -Top (Who I am) ["Personality Traits", "School", "Interests"]
        -Middle (What I do) ["Pursuits", "Hobbies"]
        -Bottom: ["Github Link", "Resume Link"]
 -->

<div class="side-button-container left">
        <app-arrow-button (click)="this.pageService.leftButtonClicked()" [routerLink]="'/splash'">
                <
        </app-arrow-button>
</div>
<div class="side-button-container right">
        <app-arrow-button (click)="this.pageService.rightButtonClicked()" [routerLink]="'/projects'">
                >
        </app-arrow-button>
</div>
