<div class="container">
        
</div>
<div class="side-button-container left">
        <app-arrow-button (click)="this.pageService.leftButtonClicked()" [routerLink]="'/projects'">
                <
        </app-arrow-button>
</div>
<div class="side-button-container right">
        <app-arrow-button (click)="this.pageService.rightButtonClicked()" [routerLink]="'/about'">
                >
        </app-arrow-button>
</div>
<div class="bottom-button-container">
        <app-arrow-button>
                        v
        </app-arrow-button>
</div>
