<div class="container">
        <div class='sub-container'>
                <div class="header-container">
                        <div class='main-header'>
                                Devin Leamy
                        </div>
                        <div class='sub-header'>
                                Developer | Student | Mentor
                        </div>
                </div>
        </div>
</div>
<div class="side-button-container left">
        <app-arrow-button (click)="this.pageService.leftButtonClicked()" [routerLink]="'/projects'">
                <
        </app-arrow-button>
</div>
<div class="side-button-container right">
        <app-arrow-button (click)="this.pageService.rightButtonClicked()" [routerLink]="'/about'">
                >
        </app-arrow-button>
</div>

