<div class="side-button-container">
        <app-arrow-button (click)="this.pageService.rightButtonClicked()" [routerLink]="'/splash'">
                      >
        </app-arrow-button>
</div>  
<div  class="container" #container>
        <div class='sub-container'>
                <div class="projects-header-container">
                        <div class="projects-header no-select">
                                What I've Made
                        </div>
                </div>
                <div class="projects-container" [@projectsAnimation]='this.projectsService.getProjects().length'>
                        <div class="project-container" *ngFor="let project of this.projectsService.getProjects()">
                                <app-project [project]="project"></app-project>
                        </div>
                </div>
        </div>
</div>
<!-- visible and visibleAgain change based on this.visibleAgain. this.visibleAgain changed whenever this.selectedProjectId changes. -->
<!-- The purpose of visible and visibleAgain is a ensure that when changing between projects the slide-in animation is always preformed -->
<div class="project-display-container" *ngIf="this.media.isActive('gt-sm')" fxShow="true" fxHide.lt-md="true" [@showProject]="this.selected? (this.visibleAgain? 'visible':'visibleAgain'):'hidden'" >
        <app-project-display *ngIf='this.selected'></app-project-display>
</div>

<div class="project-display-container-small" *ngIf="this.media.isActive('lt-md')" fxShow="true" fxHide.gt-sm="true" [@showProject]="this.selected? (this.visibleAgain? 'visible':'visibleAgain'):'hidden'" >
        <app-project-display *ngIf='this.selected'></app-project-display>
</div>
