<div class="side-button-container">
        <app-arrow-button (click)="this.pageService.rightButtonClicked()" [routerLink]="'/splash'">
                      >
        </app-arrow-button>
</div>  
<div  class="container" #container>
        <div class="projects-header-container">
                <div class="projects-header no-select">
                        What I've Made
                </div>
        </div>
        <div class="projects-container" [@projectsAnimation]='this.projectsService.getProjects().length'>
                <div class="project-container" *ngFor="let project of this.projectsService.getProjects()">
                        <app-project [project]="project">
                        </app-project>
                </div>
        </div>
</div>
<div class="project-display-container" [@showProject]="this.selected? 'visible':'hidden'" >
        <app-project-display *ngIf='this.selected'></app-project-display>
</div>

