<div [@pageAnimation]="prepareRoute(outlet)" class="container" [@showContactMe]="!this.selected? 'visible':'hidden'">
        <router-outlet #outlet="outlet">
                <div class="bottom-button-container" [@showContactMe]="!this.selected? 'visible':'hidden'">
                        <div class='contact-me-button transform-width transform-height transform-line-height transform-font-size' (click)='this.selected = true'>
                                        contact me
                        </div>
                        <div class='info-button transform-width transform-height transform-line-height transform-font-size' (click)="this.hovering = !this.hovering">
                                        info
                        </div>
                        <div class='tooltip' [@showTooltip]="this.hovering? 'visible':'hidden'">
                                📩&nbsp;&nbsp;devinleamy@gmail.com<br/>
                                📞&nbsp;&nbsp;403-615-7302
                        </div>
                        
                </div>
                <!-- 📫📩☎️📫📳📫☎️📞 -->
        </router-outlet>
</div>

<div class="logo no-select">DEVIN LEAMY 
        <!-- 2003 -->
</div>

<div class='contact-me-container' *ngIf="this.media.isActive('gt-sm')" fxShow="true" fxHide.lt-md="true" [@showContactMe]="this.selected? 'visible':'hidden'">
        <app-contact-me *ngIf='this.selected' (getSelectedChange)="contactMeCallback($event)"></app-contact-me>
</div>
<div class='contact-me-container-small'  *ngIf="this.media.isActive('lt-md')" fxShow="true" fxHide.gt-sm="true" [@showContactMe]="this.selected? 'visible':'hidden'">
        <app-contact-me *ngIf='this.selected' (getSelectedChange)="contactMeCallback($event)"></app-contact-me>
</div>
