.container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.logo {
        position: fixed;
        top: 10px;
        right: 10px;
        color: rgb(241, 241, 241);
        font-family: 'momcake';
        font-size: 30px;
}


.bottom-button-container {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80px;
        bottom: 0px;
}

.contact-me-container {
        position: absolute;
        top: calc(50% - 325px);
        right: calc(50% - 275px);
        width: 550px;
        height: 650px;
        opacity: 1;
        z-index: -1;
}

.contact-me-container-small {
        position: absolute;
        left: 10px;
        width: calc(100% - 20px);
        top: 10px;
        height: calc(100% - 20px);
        opacity: 1;
        z-index: -1;
}

.contact-me-button {
        /* background-color: rgb(56, 63, 65); */
        background-color: rgb(40, 40, 40);
        color: white;
        font-size: 18px;
        line-height: 18px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
}

.contact-me-button:hover {
        /* background-color: rgb(47, 53, 54); */
        background-color: rgb(32, 32, 32);
        line-height: 23px;
        font-size: 23px;
        opacity: 1;
        cursor: pointer;
}
