.container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.logo {
        position: fixed;
        z-index: 2;
        top: 10px;
        right: 10px;
        color: rgb(32, 32, 32);
        font-family: 'momcake';
        font-size: 25px;
}

.logo-color-small { color: rgb(245, 245, 245); }
.logo-color-large { color: rgb(32, 32, 32); }


.bottom-button-container {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80px;
        bottom: 0px;
}

.contact-me-container {
        position: absolute;
        top: calc(50% - 325px);
        right: calc(50% - 275px);
        width: 550px;
        height: 650px;
        opacity: 1;
        z-index: -1;
}

.contact-me-container-small {
        position: absolute;
        left: 10px;
        width: calc(100% - 20px);
        top: 10px;
        height: calc(100% - 20px);
        opacity: 1;
        z-index: -1;
}

.contact-me-button, .info-button {
        background-color: rgb(245, 245, 245);
        color: rgb(24, 24, 24);
        font-family: 'momcake';
        font-size: 20px;
        line-height: 20px;
        padding: 10px;
        text-align: center;
        margin: 3px
}

.contact-me-button:hover, .info-button:hover {
        opacity: 0.7;
        cursor: pointer;
}

.tooltip {
        position: absolute;
        transform: translateY(-65px) translateX(60px);
        border-radius: 2px;
        padding: 5px;
        font-size: 18px;
        background-color: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        font-family: 'momcake';
        text-align: center;
        white-space: nowrap;
}

.nav-container {
        position: absolute;
        width: 100%;
        height: 90px;
        background-color: rgb(245, 245, 245);
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: right;
        box-sizing: border-box;
        padding: 20px;
        z-index: -1;
        /* gap: 50px; */
}

.nav-item {
        float: right;
        line-height: 40px;
        height: 40px;
        text-align: center;
        font-size: 17px;
        font-family: 'poppins-semibold';
        border-radius: 5px;
        transform: translateX(30px);
        margin-right: 50px; /* can replace with gap */
}

.nav-item-underline {
        width: 15px;
        background-color: rgb(1, 108, 255);
        height: 3px;
}

.nav-item:hover .nav-item-underline {
        width: 100%;
        visibility: visible;
}


.nav-item:hover {
        cursor: pointer;
        visibility: visible;
}
