.container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.logo {
        position: fixed;
        z-index: 2;
        top: 10px;
        right: 10px;
        /* color: rgb(241, 241, 241); */
        color: rgb(32, 32, 32);
        font-family: 'momcake';
        font-size: 30px;
}


.bottom-button-container {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80px;
        bottom: 0px;
}

.contact-me-container {
        position: absolute;
        top: calc(50% - 325px);
        right: calc(50% - 275px);
        width: 550px;
        height: 650px;
        opacity: 1;
        z-index: -1;
}

.contact-me-container-small {
        position: absolute;
        left: 10px;
        width: calc(100% - 20px);
        top: 10px;
        height: calc(100% - 20px);
        opacity: 1;
        z-index: -1;
}

.contact-me-button, .info-button {
        /* background-color: rgb(56, 63, 65); */
        /* background-color: rgb(40, 40, 40); */
        background-color: rgb(245, 245, 245);
        /* color: white; */
        color: rgb(48, 48, 48);
        font-family: 'poppins-semibold';
        font-size: 18px;
        line-height: 18px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin: 3px
}

.contact-me-button:hover, .info-button:hover {
        /* background-color: rgb(47, 53, 54); */
        /* background-color: rgb(32, 32, 32); */
        /* background-color: rgb(245, 245, 245); */
        line-height: 20px;
        font-size: 20px;
        opacity: 1;
        cursor: pointer;
}

.tooltip {
        position: absolute;
        transform: translateY(-65px) translateX(60px);
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
        background-color: rgb(12, 12, 12);
        color: white;
        text-align: center;
        white-space: nowrap;
}

.nav-container {
        position: absolute;
        width: 100%;
        /* top: 10px; */
        height: 100px;
        background-color: rgb(245, 245, 245);
        /* left: 20px; */
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: right;
        box-sizing: border-box;
        padding: 20px;
        z-index: -1;
        gap: 50px;
}

.nav-item {
        float: right;
        line-height: 40px;
        height: 40px;
        /* margin-right: 50px;
        padding-bottom: 50px; */
        text-align: center;
        font-size: 17px;
        /* color: rgb(22, 22, 22); */
        /* color: rgb(32, 32, 32); */
        font-family: 'poppins-semibold';
        /* padding: 10px; */
        border-radius: 5px;
        /* background-color: rgb(49, 49, 49); */
}

.nav-item-underline {
        width: 0px;
        /* background-color: white; */
        background-color: rgb(143, 171, 175);
        border-radius: 3px;
        height: 5px;
        visibility: hidden;
}

.nav-item-selected-underline {
        position: relative;
        transform: translateY(-5px);
        width: 100%;
        background-color: black;
        z-index: -1;
        border-radius: 3px;
        height: 5px;
        visibility: hidden; /* Currently invisible */
}

.nav-item:hover .nav-item-underline {
        width: 100%;
        visibility: visible;
}


.nav-item:hover {
        cursor: pointer;
        visibility: visible;
}
