.container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
}

/* Top Container */
.top-container {
        order: 0;
        width: 100%;
        height: 80px;
        display: flex;
}

.icon-container {
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        background-size: contain;
        background-repeat: no-repeat;
}

.title-container {
        width: calc(100% - 80px);
        height: 80px;
        display: flex;
        flex-direction: column;
}

.main-title {
        order: 0;
        height: 70px;
        width: 100%;
        font-size: 45px;
        line-height: 70px;
        text-align: center;
        color: rgb(0, 140, 255);
        font-family: 'life-is-okay';
}

.sub-title {
        order: 1;
        height: 30px;
        width: 100%;
        font-size: 18px;
        text-align: center;
        font-family: 'momcake';
}


/* Middle Container */
.middle-container {
        order: 1;
        width: 100%;
        height: calc(100% - 220px);
        display: flex;
}

.middle-left-container {
        order: 0;
        width: calc(60% - 3px);
        margin-right: 3px;
        height: calc(100% - 20px);
        margin-top: 20px;
        box-sizing: border-box;
}

.readme {
        font-family: 'momcake';
        width: 200px;
        font-size: 30px;
        border-bottom: 3px solid rgb(32, 32, 32);
}

.text-body {
        padding-top: 10px;
        font-size: 18px;
}

.middle-right-container {
        order: 1;
        width: 40%;
        height: calc(100% - 20px);
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
}

.image-container {
        order: 0;
        width: 100%;
        display: flex;
        height: calc(100% - 100px);
        align-items: center;
}

.image {
        margin: auto;
        height: 200px;
        width: 200px;
        border-radius: 5px;
        background-position: center center;
        /* border-top: 2px solid rgb(97, 207, 250);
        border-right: 2px solid rgb(97, 207, 250); */
        border-radius: 5px;
}

.link-container {
        order: 1;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
}

.link-text {
        order: 0;
        margin: auto;
        font-family: 'momcake';
        width: 100%;
        font-size: 20px;
        border-bottom: 3px solid rgb(32, 32, 32);
}

.link {
        order: 1;
        /* margin: auto; */
        width: 100%;
        height: 100px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../../../../assets/images/github2.png");
}

.link-platform {
        position: relative;
        transform: translateY(100px);
        width: 20px;
        height: 5px;
        background-color: transparent;
        border-radius: 5px;
}

.link:hover .link-platform {
        width: 100%;
        background-color: rgb(88, 218, 88);
}

/* Bottom Container */
.bottom-container {
        order: 2;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
}

.tech-tags-container {
        width: 100%;
        height: 50%;
        /* height: 100%;
        width: 50%; */
        display: flex;
        /* align-items: center; */
}

/* .tech-tags-text {
        font-family: 'momcake';
        font-size: 20px;
        height: 100%;
} */

.tech-tags {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
}

.tech-tag {
        width: 45px;
        height: 45px;
        margin-right: 7px;
}

.lang-tags-container {
        width: 100%;
        height: 50%;
        /* height: 100%;
        width: 50%; */
        display: flex;
}

/* .lang-tags-text {
        font-family: 'momcake';
        font-size: 20px;
} */

.lang-tags {
        height: 100%;
        width: 100%;
        display: flex;  
}

.lang-tag {
        width: 45px;
        height: 45px;
        margin-right: 7px;   
}

/* Footer Container */
.footer-container {
        order: 3;
        width: 100%;
        height: 40px;
        display: flex;
}

.left-button {
        order: 0;
        width: 30px;
        height: 40px;
        text-align: left;
        line-height: 40px;
        font-size: 20px;
        border-radius: 5px;
        color: gray;
        padding-right: 10px;
        padding-left: 10px;
}

.left-button:hover {
        color: black;
        background-color: rgb(238, 238, 238);
        cursor: pointer;
}


.right-button {
        order: 2;
        width: 30px;
        height: 40px;
        text-align: right;
        line-height: 40px;
        font-size: 20px;
        border-radius: 5px;
        color: gray;
        padding-right: 10px;
        padding-left: 10px;
}

.right-button:hover {
        color: black;
        background-color: rgb(238, 238, 238);
        cursor: pointer;
}


.exit-button {
        order: 1;
        width: calc(100% - 100px);
        height: 40px;
        color: gray;
        text-align: center;
        font-family: 'momcake';
        font-size: 20px;
        line-height: 40px;
        border-radius: 5px;
}

.exit-button:hover {
        color: rgb(230, 65, 0);
        background-color: rgb(238, 238, 238);
        cursor: pointer;
}

/* Media Queries for responive layout */
@media only screen and (max-width: 959px) {
        .top-container {
                height: 60px;
        }
        .icon-container {
                width: 60px;
                height: 60px;
        }
        .main-title {
                font-size: 35px;
        }
        .readme {
                font-size: 25px;
        }
        .text-body {
                font-size: 15px;
        }

        /* */
        .middle-container {
                margin-top: 5px;
                height: calc(100% - 155px);
        }

        .middle-right-container {
                width: 150px;
        }

        .middle-left-container {
                width: calc(100% - 153px);
        }
        /* */

        .image {
                width: 150px;
                height: 150px;
        }
}

/* Media Queries for responive layout */
@media only screen and (max-width: 400px) {
        .top-container {
                height: 60px;
        }
        .icon-container {
                width: 60px;
                height: 60px;
        }
        .main-title {
                font-size: 30px;
        }
        .readme {
                font-size: 25px;
        }
        .text-body {
                font-size: 15px;
        }
        .middle-right-container {
                width: 100px;
        }

        .middle-left-container {
                width: calc(100% - 103px);
        }
        
        .image {
                width: 100px;
                height: 100px;
        }

        .middle-container {
                height: calc(100% - 135px);
                margin-top: 5px;
        }

        .bottom-container {
                height: 80px;
        }

        .tech-tag .lang-tag{
                width: 40px;
                height: 40px;
        }
}
