<div class='container'>
        <div class="top-container">
                <div class='icon-container' #iconContainer></div>
                <div class='title-container' *ngIf="this.selectedProject !== undefined && this.selectedProject !== null">
                        <div class='main-title'>{{this.selectedProject.title}}</div>
                        <div class='sub-title'>{{this.selectedProject.subtitle}}</div>
                </div>
        </div>
        <div class='middle-container'>
                <div class='middle-left-container'>
                        <div class='readme'>README.md</div>
                        <div class='text-body'>{{this.selectedProject.text}}</div>
                </div>
                <div class='middle-right-container'>
                        <div class='image-container'>
                                <div class='image' #imageContainer></div>
                        </div>
                        <div class='link-container'>
                                <div class='link-text'>See Code on Github</div>
                                <a class='link' [href]='this.selectedProject.link'>
                                        <div class='link-platform transform-width'></div>
                                </a>   
                        </div>
                        
                </div>
        </div>
        <div class='bottom-container'>
                <div class='lang-tags-container'>
                        <!-- <div class='lang-tags-text'>Languages:</div> -->
                        <div class='lang-tags'>
                                <div class='lang-tag' *ngFor='let tag of getLanguageTags()'>
                                        <app-image-tag [text]='tag.text' [imageUrl]='tag.imageUrl'></app-image-tag>
                                </div>
                        </div>
                </div>
                <div class='tech-tags-container'>
                        <!-- <div class='tech-tags-text'>Tech:</div> -->
                        <div class='tech-tags'>
                                <div class='tech-tag' *ngFor="let tag of getTechTags()">
                                        <app-image-tag [text]='tag.text' [imageUrl]='tag.imageUrl'></app-image-tag>
                                </div>
                        </div>
                </div>
                
        </div>
        <div class='footer-container'>
                <div class="left-button transform-color transform-background-color" (click)="goToLeftProject()">◀&#xFE0E;</div>
                <div class="exit-button transform-background-color transform-color" (click)="exitProjectsDisplay()">exit</div>
                <div class="right-button transform-color transform-background-color" (click)="goToRightProject()">▶&#xFE0E;</div>
        </div>
</div>
 <!-- Main container background is gif and image -->
<!-- Top Container has icon, title and sub title -->
<!-- Middle container has text, image and github link-->
<!-- Bottom container has languages and tags-->
<!-- Footer container has arrows and exit button -->
