.app-button {
        /* background-color: rgb(56, 63, 65); */
        font-size: 30px;
        /* color: white; */
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
}

.app-button:hover {
        width: 25px;
        height: 25px;
        line-height: 25px;
        opacity: 1;
        cursor: pointer;
}

