body, html {
        margin: 0px;
        width: 100%;
        height: 100%;
        padding: 0px;
        overflow: auto;
}

body {
        font-family: 'poppins-medium';
        background-color: rgb(29, 31, 36);
        background-size: cover;
        background-position: center center;
}
/* Make scroll bar invisible */
::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent;
}

/* Removes blue border of selected buttons */
button:focus {
        outline: 0;
}

div:focus {
        outline: 0;
}

span:focus {
        outline: 0;
}

img:focus {
        outline: 0;
}

textarea:focus {
        outline: 0;
}

p:focus {
        outline: 0;
}

input:focus {
        outline: 0;
}

select:focus {
        outline: 0;
}

app-arrow-button:focus {
        outline: 0;
}

/* Fonts */
@font-face {
        font-family: 'life-is-okay';
        src: url(src/assets/fonts/life-is-okay-font/LifeIsOkay-PzAE.ttf);
        font-style: normal;
}

@font-face {
        font-family: 'momcake';
        src: url(src/assets/fonts/momcake-font/MomcakeBold-WyonA.otf);
        font-style: normal;
}

@font-face {
        font-family: 'poppins-regular';
        src: url(src/assets/fonts/poppins/Poppins-Regular.ttf);
        font-style: normal;
}

@font-face {
        font-family: 'poppins-medium';
        src: url(src/assets/fonts/poppins/Poppins-Medium.ttf);
        font-style: normal;
}

@font-face {
        font-family: 'poppins-semibold';
        src: url(src/assets/fonts/poppins/Poppins-SemiBold.ttf);
        font-style: normal;
}
@font-face {
        font-family: 'quacker';
        src: url(src/assets/fonts/quacker-font/Quacker-vmAvD.otf);
        font-style: normal;
}

/* Transforms */
.transform-color {
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s;
}

.transform-border-radius {
        -webkit-transition: border-radius 0.2s;
        -moz-transition: border-radius 0.2s;
        -o-transition: border-radius 0.2s;
        transition: border-radius 0.2s;
}

.transform-background-color {
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        transition: background-color 0.2s;
}

.transform-width {
        -webkit-transition: width 0.2s;
        -moz-transition: width 0.2s;
        -o-transition: width 0.2s;
        transition: width 0.2s;
}

.transform-border {
        -webkit-transition: border 0.2s;
        -moz-transition: border 0.2s;
        -o-transition: border 0.2s;
        transition: border 0.2s;
}

.tranform-blur {
        -webkit-transition: filter 0.2s;
        -moz-transition: filter 0.2s;
        -o-transition: filter 0.2s;
        transition: filter 0.2s;
}

.tranform-webkit-filter {
        -webkit-transition: -webkit-filter 0.2s;
        -moz-transition: -webkit-filter 0.2s;
        -o-transition: -webkit-filter 0.2s;
        transition: -webkit-filter 0.2s;
}

.transform-height {
        -webkit-transition: height 0.2s;
        -moz-transition: height 0.2s;
        -o-transition: height 0.2s;
        transition: height 0.2s;
}

.transform-opacity {
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
}

.transform-line-height {
        -webkit-transition: line-height 0.2s;
        -moz-transition: line-height 0.2s;
        -o-transition: line-height 0.2s;
        transition: line-height 0.2s;
}

.transform-font-size {
        -webkit-transition: font-size 0.2s;
        -moz-transition: font-size 0.2s;
        -o-transition: font-size 0.2s;
        transition: font-size 0.2s;
}

.no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none;
}

div {
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none;  
}

/* Remove default style from links */
a:link {
        text-decoration: none;
}
      
a:visited {
        text-decoration: none;
}

a:hover {
        text-decoration: none;
}

a:active {
        text-decoration: none;
}
