.container {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        /* box-sizing: border-box; */
        border-top: 3px solid rgb(235, 235, 235);
        border-left: 3px solid rgb(235, 235, 235);
        border-bottom: 1px solid rgb(235, 235, 235);
        border-right: 1px solid rgb(235, 235, 235);
        /* border: 1px solid white; */
        background-position: center center; 
        background-size: cover;
}

.container:hover {
        /* border-radius: 15px; */
        cursor: pointer;
}

.project-title-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
}

.project-title {
        height: 25px;
        line-height: 25px;
        padding: 15px;
        background-color: rgb(240, 240, 240);
        color: rgb(32, 32, 32); 
        /* background-color: rgb(32, 32, 32); */
        /* color: white; */

        font-size: 25px;
        /* color: rgb(14, 134, 150); */
        text-align: center;
        font-family: 'momcake';
        border-radius: 5px;
        margin-top: 95px;
}

.platform {
        transform: translateY(10px);
        width: 100%;
        height: 1px;
        background-color: transparent;
        border-radius: 5px;
}

.container:hover .platform {
        height: 5px; 
        background-color: rgb(238, 238, 238);
}
